In [ ]:
from google.colab import files
uploaded = files.upload()

Saving Data.csv to Data.csv

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv('Data.csv')
df

,Year,Make,Model,Make/Model,Fuel,Price,Transmission,Power,Engine CC,Male,Female,Unknown,Total
0,2013,Ford,Focus,Ford Focus,gasoline,30.619322,5.966102,94.033898,1497.169492,"8,14,172","4,22,731","56,487","12,93,390"
1,2013,Ford,Fiesta,Ford Fiesta,gasoline,18.532143,5.714286,68.571429,1166.142857,"5,54,879","6,31,666","54,057","12,40,602"
2,2013,Volkswagen,Golf,Volkswagen Golf,gasoline,31.242154,6.164835,89.461538,1537.406593,"4,83,216","3,10,604","47,563","8,41,383"
3,2013,Renault,Clio,Renault Clio,gasoline,22.100000,5.615385,75.576923,1219.653846,"2,41,287","3,12,556","28,004","5,81,847"
4,2013,BMW,320i,BMW 320i,gasoline,47.848370,6.444444,126.111111,1995.777778,"4,08,016","1,15,843","29,125","5,52,984"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6087,1994,Land-Rover,Defender,Land-Rover Defender,diesel,108.747195,7.853659,207.609756,2304.975610,"1,012",150,80,"1,242"
6088,1994,Toyota,RAV4,Toyota RAV4,gasoline,43.548516,1.354839,137.774193,2261.193548,670,482,66,"1,218"
6089,1994,Alfa-Romeo,Spider,Alfa-Romeo Spider,gasoline,55.200000,6.000000,163.500000,2696.500000,790,247,81,"1,118"
6090,1994,Honda,Shuttle,Honda Shuttle,gasoline,30.081000,4.000000,110.000000,2254.000000,639,416,49,"1,104"
6091,1994,Mitsubishi,Space,Mitsubishi Space,gasoline,23.165158,3.947368,82.157895,1817.315789,721,251,40,"1,012"

In [ ]:
q1 = df['Power'].quantile(0.25)
q3 = df['Power'].quantile(0.75)
iqr = q3-q1
lower = q1-1.5*iqr
upper = q3+1.5*iqr

In [ ]:
df['Power'][((df['Power']<lower)|(df['Power']>upper))]
#outliers

26      225.000000
45      199.727273
72      246.333333
102     213.153846
111     293.533333
           ...
6076    390.000000
6083    234.000000
6084    233.000000
6085    450.000000
6087    207.609756
Name: Power, Length: 600, dtype: float64

In [ ]:
q1 = df['Engine CC'].quantile(0.25)
q3 = df['Engine CC'].quantile(0.75)
iqr = q3-q1
lower = q1-1.5*iqr
upper = q3+1.5*iqr
df['Engine CC'][((df['Engine CC']<lower)|(df['Engine CC']>upper))]
#outliers

137     5000.0
173     3999.0
177     6208.0
210      335.0
217      285.0
         ...
6064    4957.0
6068    3590.0
6076    4395.0
6083    5993.0
6085    5733.0
Name: Engine CC, Length: 342, dtype: float64

In [ ]:
a=df['Engine CC'].mean()
b=df['Engine CC'].std()
df.loc[df['Engine CC']<lower,'Engine CC']=a-3*b
df.loc[df['Engine CC']>upper,'Engine CC']=a+3*b
#replacing outliers

In [ ]:
q1 = df['Transmission'].quantile(0.25)
q3 = df['Transmission'].quantile(0.75)
iqr = q3-q1
lower = q1-1.5*iqr
upper = q3+1.5*iqr
df['Transmission'][((df['Transmission']<lower)|(df['Transmission']>upper))]
#outliers

7       1.750000
16      0.000000
32      8.277311
40      1.354839
97      0.000000
          ...
5938    1.750000
5959    8.277311
5997    8.277311
6081    1.800000
6088    1.354839
Name: Transmission, Length: 247, dtype: float64

In [ ]:
a=df['Transmission'].mean()
b=df['Transmission'].std()
df.loc[df['Transmission']<lower,'Transmission']=a-3*b
df.loc[df['Transmission']>upper,'Transmission']=a+3*b
#replacing outliers

In [ ]:
q1 = df['Price'].quantile(0.25)
q3 = df['Price'].quantile(0.75)
iqr = q3-q1
lower = q1-1.5*iqr
upper = q3+1.5*iqr
df['Price'][((df['Price']<lower)|(df['Price']>upper))]
#outliers

26       93.714250
31      107.452143
32      107.670513
45       82.060909
72      113.269333
           ...
6076    134.789000
6083    106.820000
6084     93.424333
6085    646.605000
6087    108.747195
Name: Price, Length: 593, dtype: float64

In [ ]:
a=df['Price'].mean()
b=df['Price'].std()
df.loc[df['Price']<lower,'Price']=a-3*b
df.loc[df['Price']>upper,'Price']=a+3*b
#replacing outliers

In [ ]:
df.isna().sum()
#null values

Year            0
Make            0
Model           0
Make/Model      0
Fuel            0
Price           0
Transmission    0
Power           0
Engine CC       0
Male            0
Female          0
Unknown         0
Total           0
dtype: int64

In [ ]:
df['Male'] = df['Male'].str.replace(',','')
df['Female'] = df['Female'].str.replace(',','')
df['Unknown'] = df['Unknown'].str.replace(',','')
df['Total'] = df['Total'].str.replace(',','')
df
#replacing , with '' to make the attributes integers

,Year,Make,Model,Make/Model,Fuel,Price,Transmission,Power,Engine CC,Male,Female,Unknown,Total
0,2013,Ford,Focus,Ford Focus,gasoline,30.619322,5.966102,94.033898,1497.169492,814172,422731,56487,1293390
1,2013,Ford,Fiesta,Ford Fiesta,gasoline,18.532143,5.714286,68.571429,1166.142857,554879,631666,54057,1240602
2,2013,Volkswagen,Golf,Volkswagen Golf,gasoline,31.242154,6.164835,89.461538,1537.406593,483216,310604,47563,841383
3,2013,Renault,Clio,Renault Clio,gasoline,22.100000,5.615385,75.576923,1219.653846,241287,312556,28004,581847
4,2013,BMW,320i,BMW 320i,gasoline,47.848370,6.444444,126.111111,1995.777778,408016,115843,29125,552984
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6087,1994,Land-Rover,Defender,Land-Rover Defender,diesel,195.303823,7.853659,207.609756,2304.975610,1012,150,80,1242
6088,1994,Toyota,RAV4,Toyota RAV4,gasoline,43.548516,1.099918,137.774193,2261.193548,670,482,66,1218
6089,1994,Alfa-Romeo,Spider,Alfa-Romeo Spider,gasoline,55.200000,6.000000,163.500000,2696.500000,790,247,81,1118
6090,1994,Honda,Shuttle,Honda Shuttle,gasoline,30.081000,4.000000,110.000000,2254.000000,639,416,49,1104
6091,1994,Mitsubishi,Space,Mitsubishi Space,gasoline,23.165158,3.947368,82.157895,1817.315789,721,251,40,1012

In [ ]:
df.to_csv('Cleaned_data.csv')

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving Cleaned_data.csv to Cleaned_data.csv

In [ ]:
df1 = pd.read_csv('Cleaned_data.csv')
df1.drop(df1.iloc[:, 0:1], inplace=True, axis=1)
df1

,Year,Make,Model,Make/Model,Fuel,Price,Transmission,Power,Engine CC,Male,Female,Unknown,Total
0,2013,Ford,Focus,Ford Focus,gasoline,30.619322,5.966102,94.033898,1497.169492,814172,422731,56487,1293390
1,2013,Ford,Fiesta,Ford Fiesta,gasoline,18.532143,5.714286,68.571429,1166.142857,554879,631666,54057,1240602
2,2013,Volkswagen,Golf,Volkswagen Golf,gasoline,31.242154,6.164835,89.461538,1537.406593,483216,310604,47563,841383
3,2013,Renault,Clio,Renault Clio,gasoline,22.100000,5.615385,75.576923,1219.653846,241287,312556,28004,581847
4,2013,BMW,320i,BMW 320i,gasoline,47.848370,6.444444,126.111111,1995.777778,408016,115843,29125,552984
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6087,1994,Land-Rover,Defender,Land-Rover Defender,diesel,195.303823,7.853659,207.609756,2304.975610,1012,150,80,1242
6088,1994,Toyota,RAV4,Toyota RAV4,gasoline,43.548516,1.099918,137.774193,2261.193548,670,482,66,1218
6089,1994,Alfa-Romeo,Spider,Alfa-Romeo Spider,gasoline,55.200000,6.000000,163.500000,2696.500000,790,247,81,1118
6090,1994,Honda,Shuttle,Honda Shuttle,gasoline,30.081000,4.000000,110.000000,2254.000000,639,416,49,1104
6091,1994,Mitsubishi,Space,Mitsubishi Space,gasoline,23.165158,3.947368,82.157895,1817.315789,721,251,40,1012

In [ ]:
df1["Fuel"]=df1["Fuel"].map({"gasoline":1,"diesel":2})
df1["Fuel"]

0       1.0
1       1.0
2       1.0
3       1.0
4       1.0
       ...
6087    2.0
6088    1.0
6089    1.0
6090    1.0
6091    1.0
Name: Fuel, Length: 6092, dtype: float64

In [ ]:
# So here Gasoline is 0 and Fuel is 1
df1 = pd.get_dummies(data=df1,columns=["Fuel"],drop_first=True)
df1

,Year,Make,Model,Make/Model,Price,Transmission,Power,Engine CC,Male,Female,Unknown,Total,Fuel_2.0
0,2013,Ford,Focus,Ford Focus,30.619322,5.966102,94.033898,1497.169492,814172,422731,56487,1293390,0
1,2013,Ford,Fiesta,Ford Fiesta,18.532143,5.714286,68.571429,1166.142857,554879,631666,54057,1240602,0
2,2013,Volkswagen,Golf,Volkswagen Golf,31.242154,6.164835,89.461538,1537.406593,483216,310604,47563,841383,0
3,2013,Renault,Clio,Renault Clio,22.100000,5.615385,75.576923,1219.653846,241287,312556,28004,581847,0
4,2013,BMW,320i,BMW 320i,47.848370,6.444444,126.111111,1995.777778,408016,115843,29125,552984,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6087,1994,Land-Rover,Defender,Land-Rover Defender,195.303823,7.853659,207.609756,2304.975610,1012,150,80,1242,1
6088,1994,Toyota,RAV4,Toyota RAV4,43.548516,1.099918,137.774193,2261.193548,670,482,66,1218,0
6089,1994,Alfa-Romeo,Spider,Alfa-Romeo Spider,55.200000,6.000000,163.500000,2696.500000,790,247,81,1118,0
6090,1994,Honda,Shuttle,Honda Shuttle,30.081000,4.000000,110.000000,2254.000000,639,416,49,1104,0
6091,1994,Mitsubishi,Space,Mitsubishi Space,23.165158,3.947368,82.157895,1817.315789,721,251,40,1012,0

In [ ]:
df1.drop(df1.iloc[:, 0:4], inplace=True, axis=1)
df1

,Price,Transmission,Power,Engine CC,Male,Female,Unknown,Total,Fuel_2.0
0,30.619322,5.966102,94.033898,1497.169492,814172,422731,56487,1293390,0
1,18.532143,5.714286,68.571429,1166.142857,554879,631666,54057,1240602,0
2,31.242154,6.164835,89.461538,1537.406593,483216,310604,47563,841383,0
3,22.100000,5.615385,75.576923,1219.653846,241287,312556,28004,581847,0
4,47.848370,6.444444,126.111111,1995.777778,408016,115843,29125,552984,0
...,...,...,...,...,...,...,...,...,...
6087,195.303823,7.853659,207.609756,2304.975610,1012,150,80,1242,1
6088,43.548516,1.099918,137.774193,2261.193548,670,482,66,1218,0
6089,55.200000,6.000000,163.500000,2696.500000,790,247,81,1118,0
6090,30.081000,4.000000,110.000000,2254.000000,639,416,49,1104,0
6091,23.165158,3.947368,82.157895,1817.315789,721,251,40,1012,0

In [ ]:
print(df.groupby('Year').groups)
#grouping by year

{1994: [5908, 5909, 5910, 5911, 5912, 5913, 5914, 5915, 5916, 5917, 5918, 5919, 5920, 5921, 5922, 5923, 5924, 5925, 5926, 5927, 5928, 5929, 5930, 5931, 5932, 5933, 5934, 5935, 5936, 5937, 5938, 5939, 5940, 5941, 5942, 5943, 5944, 5945, 5946, 5947, 5948, 5949, 5950, 5951, 5952, 5953, 5954, 5955, 5956, 5957, 5958, 5959, 5960, 5961, 5962, 5963, 5964, 5965, 5966, 5967, 5968, 5969, 5970, 5971, 5972, 5973, 5974, 5975, 5976, 5977, 5978, 5979, 5980, 5981, 5982, 5983, 5984, 5985, 5986, 5987, 5988, 5989, 5990, 5991, 5992, 5993, 5994, 5995, 5996, 5997, 5998, 5999, 6000, 6001, 6002, 6003, 6004, 6005, 6006, 6007, ...], 1995: [5711, 5712, 5713, 5714, 5715, 5716, 5717, 5718, 5719, 5720, 5721, 5722, 5723, 5724, 5725, 5726, 5727, 5728, 5729, 5730, 5731, 5732, 5733, 5734, 5735, 5736, 5737, 5738, 5739, 5740, 5741, 5742, 5743, 5744, 5745, 5746, 5747, 5748, 5749, 5750, 5751, 5752, 5753, 5754, 5755, 5756, 5757, 5758, 5759, 5760, 5761, 5762, 5763, 5764, 5765, 5766, 5767, 5768, 5769, 5770, 5771, 5772, 5773, 5774, 5775, 5776, 5777, 5778, 5779, 5780, 5781, 5782, 5783, 5784, 5785, 5786, 5787, 5788, 5789, 5790, 5791, 5792, 5793, 5794, 5795, 5796, 5797, 5798, 5799, 5800, 5801, 5802, 5803, 5804, 5805, 5806, 5807, 5808, 5809, 5810, ...], 1996: [5496, 5497, 5498, 5499, 5500, 5501, 5502, 5503, 5504, 5505, 5506, 5507, 5508, 5509, 5510, 5511, 5512, 5513, 5514, 5515, 5516, 5517, 5518, 5519, 5520, 5521, 5522, 5523, 5524, 5525, 5526, 5527, 5528, 5529, 5530, 5531, 5532, 5533, 5534, 5535, 5536, 5537, 5538, 5539, 5540, 5541, 5542, 5543, 5544, 5545, 5546, 5547, 5548, 5549, 5550, 5551, 5552, 5553, 5554, 5555, 5556, 5557, 5558, 5559, 5560, 5561, 5562, 5563, 5564, 5565, 5566, 5567, 5568, 5569, 5570, 5571, 5572, 5573, 5574, 5575, 5576, 5577, 5578, 5579, 5580, 5581, 5582, 5583, 5584, 5585, 5586, 5587, 5588, 5589, 5590, 5591, 5592, 5593, 5594, 5595, ...], 1997: [5271, 5272, 5273, 5274, 5275, 5276, 5277, 5278, 5279, 5280, 5281, 5282, 5283, 5284, 5285, 5286, 5287, 5288, 5289, 5290, 5291, 5292, 5293, 5294, 5295, 5296, 5297, 5298, 5299, 5300, 5301, 5302, 5303, 5304, 5305, 5306, 5307, 5308, 5309, 5310, 5311, 5312, 5313, 5314, 5315, 5316, 5317, 5318, 5319, 5320, 5321, 5322, 5323, 5324, 5325, 5326, 5327, 5328, 5329, 5330, 5331, 5332, 5333, 5334, 5335, 5336, 5337, 5338, 5339, 5340, 5341, 5342, 5343, 5344, 5345, 5346, 5347, 5348, 5349, 5350, 5351, 5352, 5353, 5354, 5355, 5356, 5357, 5358, 5359, 5360, 5361, 5362, 5363, 5364, 5365, 5366, 5367, 5368, 5369, 5370, ...], 1998: [5029, 5030, 5031, 5032, 5033, 5034, 5035, 5036, 5037, 5038, 5039, 5040, 5041, 5042, 5043, 5044, 5045, 5046, 5047, 5048, 5049, 5050, 5051, 5052, 5053, 5054, 5055, 5056, 5057, 5058, 5059, 5060, 5061, 5062, 5063, 5064, 5065, 5066, 5067, 5068, 5069, 5070, 5071, 5072, 5073, 5074, 5075, 5076, 5077, 5078, 5079, 5080, 5081, 5082, 5083, 5084, 5085, 5086, 5087, 5088, 5089, 5090, 5091, 5092, 5093, 5094, 5095, 5096, 5097, 5098, 5099, 5100, 5101, 5102, 5103, 5104, 5105, 5106, 5107, 5108, 5109, 5110, 5111, 5112, 5113, 5114, 5115, 5116, 5117, 5118, 5119, 5120, 5121, 5122, 5123, 5124, 5125, 5126, 5127, 5128, ...], 1999: [4772, 4773, 4774, 4775, 4776, 4777, 4778, 4779, 4780, 4781, 4782, 4783, 4784, 4785, 4786, 4787, 4788, 4789, 4790, 4791, 4792, 4793, 4794, 4795, 4796, 4797, 4798, 4799, 4800, 4801, 4802, 4803, 4804, 4805, 4806, 4807, 4808, 4809, 4810, 4811, 4812, 4813, 4814, 4815, 4816, 4817, 4818, 4819, 4820, 4821, 4822, 4823, 4824, 4825, 4826, 4827, 4828, 4829, 4830, 4831, 4832, 4833, 4834, 4835, 4836, 4837, 4838, 4839, 4840, 4841, 4842, 4843, 4844, 4845, 4846, 4847, 4848, 4849, 4850, 4851, 4852, 4853, 4854, 4855, 4856, 4857, 4858, 4859, 4860, 4861, 4862, 4863, 4864, 4865, 4866, 4867, 4868, 4869, 4870, 4871, ...], 2000: [4510, 4511, 4512, 4513, 4514, 4515, 4516, 4517, 4518, 4519, 4520, 4521, 4522, 4523, 4524, 4525, 4526, 4527, 4528, 4529, 4530, 4531, 4532, 4533, 4534, 4535, 4536, 4537, 4538, 4539, 4540, 4541, 4542, 4543, 4544, 4545, 4546, 4547, 4548, 4549, 4550, 4551, 4552, 4553, 4554, 4555, 4556, 4557, 4558, 4559, 4560, 4561, 4562, 4563, 4564, 4565, 4566, 4567, 4568, 4569, 4570, 4571, 4572, 4573, 4574, 4575, 4576, 4577, 4578, 4579, 4580, 4581, 4582, 4583, 4584, 4585, 4586, 4587, 4588, 4589, 4590, 4591, 4592, 4593, 4594, 4595, 4596, 4597, 4598, 4599, 4600, 4601, 4602, 4603, 4604, 4605, 4606, 4607, 4608, 4609, ...], 2001: [4233, 4234, 4235, 4236, 4237, 4238, 4239, 4240, 4241, 4242, 4243, 4244, 4245, 4246, 4247, 4248, 4249, 4250, 4251, 4252, 4253, 4254, 4255, 4256, 4257, 4258, 4259, 4260, 4261, 4262, 4263, 4264, 4265, 4266, 4267, 4268, 4269, 4270, 4271, 4272, 4273, 4274, 4275, 4276, 4277, 4278, 4279, 4280, 4281, 4282, 4283, 4284, 4285, 4286, 4287, 4288, 4289, 4290, 4291, 4292, 4293, 4294, 4295, 4296, 4297, 4298, 4299, 4300, 4301, 4302, 4303, 4304, 4305, 4306, 4307, 4308, 4309, 4310, 4311, 4312, 4313, 4314, 4315, 4316, 4317, 4318, 4319, 4320, 4321, 4322, 4323, 4324, 4325, 4326, 4327, 4328, 4329, 4330, 4331, 4332, ...], 2002: [3947, 3948, 3949, 3950, 3951, 3952, 3953, 3954, 3955, 3956, 3957, 3958, 3959, 3960, 3961, 3962, 3963, 3964, 3965, 3966, 3967, 3968, 3969, 3970, 3971, 3972, 3973, 3974, 3975, 3976, 3977, 3978, 3979, 3980, 3981, 3982, 3983, 3984, 3985, 3986, 3987, 3988, 3989, 3990, 3991, 3992, 3993, 3994, 3995, 3996, 3997, 3998, 3999, 4000, 4001, 4002, 4003, 4004, 4005, 4006, 4007, 4008, 4009, 4010, 4011, 4012, 4013, 4014, 4015, 4016, 4017, 4018, 4019, 4020, 4021, 4022, 4023, 4024, 4025, 4026, 4027, 4028, 4029, 4030, 4031, 4032, 4033, 4034, 4035, 4036, 4037, 4038, 4039, 4040, 4041, 4042, 4043, 4044, 4045, 4046, ...], 2003: [3648, 3649, 3650, 3651, 3652, 3653, 3654, 3655, 3656, 3657, 3658, 3659, 3660, 3661, 3662, 3663, 3664, 3665, 3666, 3667, 3668, 3669, 3670, 3671, 3672, 3673, 3674, 3675, 3676, 3677, 3678, 3679, 3680, 3681, 3682, 3683, 3684, 3685, 3686, 3687, 3688, 3689, 3690, 3691, 3692, 3693, 3694, 3695, 3696, 3697, 3698, 3699, 3700, 3701, 3702, 3703, 3704, 3705, 3706, 3707, 3708, 3709, 3710, 3711, 3712, 3713, 3714, 3715, 3716, 3717, 3718, 3719, 3720, 3721, 3722, 3723, 3724, 3725, 3726, 3727, 3728, 3729, 3730, 3731, 3732, 3733, 3734, 3735, 3736, 3737, 3738, 3739, 3740, 3741, 3742, 3743, 3744, 3745, 3746, 3747, ...], 2004: [3335, 3336, 3337, 3338, 3339, 3340, 3341, 3342, 3343, 3344, 3345, 3346, 3347, 3348, 3349, 3350, 3351, 3352, 3353, 3354, 3355, 3356, 3357, 3358, 3359, 3360, 3361, 3362, 3363, 3364, 3365, 3366, 3367, 3368, 3369, 3370, 3371, 3372, 3373, 3374, 3375, 3376, 3377, 3378, 3379, 3380, 3381, 3382, 3383, 3384, 3385, 3386, 3387, 3388, 3389, 3390, 3391, 3392, 3393, 3394, 3395, 3396, 3397, 3398, 3399, 3400, 3401, 3402, 3403, 3404, 3405, 3406, 3407, 3408, 3409, 3410, 3411, 3412, 3413, 3414, 3415, 3416, 3417, 3418, 3419, 3420, 3421, 3422, 3423, 3424, 3425, 3426, 3427, 3428, 3429, 3430, 3431, 3432, 3433, 3434, ...], 2005: [3005, 3006, 3007, 3008, 3009, 3010, 3011, 3012, 3013, 3014, 3015, 3016, 3017, 3018, 3019, 3020, 3021, 3022, 3023, 3024, 3025, 3026, 3027, 3028, 3029, 3030, 3031, 3032, 3033, 3034, 3035, 3036, 3037, 3038, 3039, 3040, 3041, 3042, 3043, 3044, 3045, 3046, 3047, 3048, 3049, 3050, 3051, 3052, 3053, 3054, 3055, 3056, 3057, 3058, 3059, 3060, 3061, 3062, 3063, 3064, 3065, 3066, 3067, 3068, 3069, 3070, 3071, 3072, 3073, 3074, 3075, 3076, 3077, 3078, 3079, 3080, 3081, 3082, 3083, 3084, 3085, 3086, 3087, 3088, 3089, 3090, 3091, 3092, 3093, 3094, 3095, 3096, 3097, 3098, 3099, 3100, 3101, 3102, 3103, 3104, ...], 2006: [2664, 2665, 2666, 2667, 2668, 2669, 2670, 2671, 2672, 2673, 2674, 2675, 2676, 2677, 2678, 2679, 2680, 2681, 2682, 2683, 2684, 2685, 2686, 2687, 2688, 2689, 2690, 2691, 2692, 2693, 2694, 2695, 2696, 2697, 2698, 2699, 2700, 2701, 2702, 2703, 2704, 2705, 2706, 2707, 2708, 2709, 2710, 2711, 2712, 2713, 2714, 2715, 2716, 2717, 2718, 2719, 2720, 2721, 2722, 2723, 2724, 2725, 2726, 2727, 2728, 2729, 2730, 2731, 2732, 2733, 2734, 2735, 2736, 2737, 2738, 2739, 2740, 2741, 2742, 2743, 2744, 2745, 2746, 2747, 2748, 2749, 2750, 2751, 2752, 2753, 2754, 2755, 2756, 2757, 2758, 2759, 2760, 2761, 2762, 2763, ...], 2007: [2311, 2312, 2313, 2314, 2315, 2316, 2317, 2318, 2319, 2320, 2321, 2322, 2323, 2324, 2325, 2326, 2327, 2328, 2329, 2330, 2331, 2332, 2333, 2334, 2335, 2336, 2337, 2338, 2339, 2340, 2341, 2342, 2343, 2344, 2345, 2346, 2347, 2348, 2349, 2350, 2351, 2352, 2353, 2354, 2355, 2356, 2357, 2358, 2359, 2360, 2361, 2362, 2363, 2364, 2365, 2366, 2367, 2368, 2369, 2370, 2371, 2372, 2373, 2374, 2375, 2376, 2377, 2378, 2379, 2380, 2381, 2382, 2383, 2384, 2385, 2386, 2387, 2388, 2389, 2390, 2391, 2392, 2393, 2394, 2395, 2396, 2397, 2398, 2399, 2400, 2401, 2402, 2403, 2404, 2405, 2406, 2407, 2408, 2409, 2410, ...], 2008: [1947, 1948, 1949, 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024, 2025, 2026, 2027, 2028, 2029, 2030, 2031, 2032, 2033, 2034, 2035, 2036, 2037, 2038, 2039, 2040, 2041, 2042, 2043, 2044, 2045, 2046, ...], 2009: [1573, 1574, 1575, 1576, 1577, 1578, 1579, 1580, 1581, 1582, 1583, 1584, 1585, 1586, 1587, 1588, 1589, 1590, 1591, 1592, 1593, 1594, 1595, 1596, 1597, 1598, 1599, 1600, 1601, 1602, 1603, 1604, 1605, 1606, 1607, 1608, 1609, 1610, 1611, 1612, 1613, 1614, 1615, 1616, 1617, 1618, 1619, 1620, 1621, 1622, 1623, 1624, 1625, 1626, 1627, 1628, 1629, 1630, 1631, 1632, 1633, 1634, 1635, 1636, 1637, 1638, 1639, 1640, 1641, 1642, 1643, 1644, 1645, 1646, 1647, 1648, 1649, 1650, 1651, 1652, 1653, 1654, 1655, 1656, 1657, 1658, 1659, 1660, 1661, 1662, 1663, 1664, 1665, 1666, 1667, 1668, 1669, 1670, 1671, 1672, ...], 2010: [1186, 1187, 1188, 1189, 1190, 1191, 1192, 1193, 1194, 1195, 1196, 1197, 1198, 1199, 1200, 1201, 1202, 1203, 1204, 1205, 1206, 1207, 1208, 1209, 1210, 1211, 1212, 1213, 1214, 1215, 1216, 1217, 1218, 1219, 1220, 1221, 1222, 1223, 1224, 1225, 1226, 1227, 1228, 1229, 1230, 1231, 1232, 1233, 1234, 1235, 1236, 1237, 1238, 1239, 1240, 1241, 1242, 1243, 1244, 1245, 1246, 1247, 1248, 1249, 1250, 1251, 1252, 1253, 1254, 1255, 1256, 1257, 1258, 1259, 1260, 1261, 1262, 1263, 1264, 1265, 1266, 1267, 1268, 1269, 1270, 1271, 1272, 1273, 1274, 1275, 1276, 1277, 1278, 1279, 1280, 1281, 1282, 1283, 1284, 1285, ...], 2011: [794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, ...], 2012: [400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, ...], 2013: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]}

In [ ]:
df.groupby('Year').Total.agg(sum)#total in each year
#Median for Total
df.groupby('Year').Total.agg(np.median)

Year
1994    11534.0
1995    10155.0
1996    10257.0
1997    10171.0
1998    10145.5
1999    11332.0
2000    12046.0
2001    12328.0
2002    13238.0
2003    14138.0
2004    15335.0
2005    14143.0
2006    14130.0
2007    13482.0
2008    13481.0
2009    13833.5
2010    12605.0
2011    12978.5
2012    12733.5
2013    12905.5
Name: Total, dtype: float64

In [ ]:
#average transmission in each year
p = df.groupby('Year')
p.agg({'Transmission': 'mean'})

      Transmission
Year
1994      4.913417
1995      4.967154
1996      4.986203
1997      5.005023
1998      5.022386
1999      5.042527
2000      5.051454
2001      5.096813
2002      5.098125
2003      5.163827
2004      5.195021
2005      5.175744
2006      5.184547
2007      5.193360
2008      5.208177
2009      5.204823
2010      5.233144
2011      5.250007
2012      5.279602
2013      5.288180

In [ ]:
#average power in each year
df.groupby('Year').Power.mean()

Year
1994     95.776537
1995     98.858546
1996     99.527012
1997    101.177647
1998    102.890126
1999    103.305982
2000    104.781031
2001    106.513431
2002    107.559174
2003    110.176082
2004    112.446650
2005    111.593836
2006    114.332476
2007    115.781444
2008    117.688257
2009    117.902908
2010    118.431758
2011    119.131641
2012    118.698110
2013    119.109067
Name: Power, dtype: float64

In [ ]:
#Median for Price
df.groupby('Year').Price.agg(np.median)

Year
1994    20.868917
1995    21.407000
1996    22.127000
1997    22.953833
1998    24.841951
1999    25.399529
2000    26.323818
2001    27.098250
2002    27.451718
2003    28.960200
2004    30.006200
2005    29.913707
2006    30.236875
2007    30.597600
2008    30.992566
2009    31.049822
2010    31.242154
2011    31.273910
2012    31.273910
2013    32.103833
Name: Price, dtype: float64

In [ ]:
#Median for Price
df.groupby('Year')['Make'].agg(pd.Series.mode)

Year
1994            Renault
1995            Renault
1996            Renault
1997               Ford
1998               Ford
1999               Ford
2000               Ford
2001               Ford
2002               Ford
2003               Ford
2004               Ford
2005               Ford
2006               Ford
2007               Ford
2008               Ford
2009               Ford
2010    [Ford, Peugeot]
2011            Peugeot
2012            Peugeot
2013            Peugeot
Name: Make, dtype: object

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving Processed_Data.csv to Processed_Data.csv

In [ ]:
# Applying Min - Max Normalization to the dataset
import io
df = pd.read_csv(io.BytesIO(uploaded['Processed_Data.csv']))
df.drop(df.iloc[:, 0:1], inplace=True, axis=1)
df

,Price,Transmission,Power,Engine CC,Fuel_2.0,Male,Female,Unknown,Total,Sale_2
0,30.619322,5.966102,94.033898,1497.169492,0,814172,422731,56487,1293390,0
1,18.532143,5.714286,68.571429,1166.142857,0,554879,631666,54057,1240602,0
2,31.242154,6.164835,89.461538,1537.406593,0,483216,310604,47563,841383,0
3,22.100000,5.615385,75.576923,1219.653846,0,241287,312556,28004,581847,0
4,47.848370,6.444444,126.111111,1995.777778,0,408016,115843,29125,552984,0
...,...,...,...,...,...,...,...,...,...,...
6087,108.747195,7.853659,207.609756,2304.975610,1,1012,150,80,1242,1
6088,43.548516,1.354839,137.774193,2261.193548,0,670,482,66,1218,1
6089,55.200000,6.000000,163.500000,2696.500000,0,790,247,81,1118,1
6090,30.081000,4.000000,110.000000,2254.000000,0,639,416,49,1104,1
6091,23.165158,3.947368,82.157895,1817.315789,0,721,251,40,1012,1

In [ ]:
# Applying Min - Max Normalization
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
normalized_data = scaler.fit_transform(df.copy())
print(normalized_data)

[[4.24192070e-02 7.20777768e-01 1.80556856e-01 ... 1.00000000e+00
  8.28183204e-01 0.00000000e+00]
 [2.36290775e-02 6.90355330e-01 1.21941594e-01 ... 9.56971350e-01
  7.94355823e-01 0.00000000e+00]
 [4.33874304e-02 7.44787193e-01 1.70031166e-01 ... 8.41980380e-01
  5.38530007e-01 0.00000000e+00]
 ...
 [8.06311102e-02 7.24873096e-01 3.40469613e-01 ... 1.20409392e-03
  7.49754407e-05 1.00000000e+00]
 [4.15823582e-02 4.83248731e-01 2.17311234e-01 ... 6.37461487e-04
  6.60040205e-05 1.00000000e+00]
 [3.08313330e-02 4.76890195e-01 1.53217990e-01 ... 4.78096115e-04
  7.04897306e-06 1.00000000e+00]]

In [ ]:
# Z-score normalization
df_z_scaled = df.copy()
for column in df_z_scaled.columns:
    df_z_scaled[column] = (df_z_scaled[column] -
                           df_z_scaled[column].mean()) / df_z_scaled[column].std()     
display(df_z_scaled)

,Price,Transmission,Power,Engine CC,Fuel_2.0,Male,Female,Unknown,Total,Sale_2
0,-0.206604,0.621056,-0.257978,-0.593233,-0.383444,9.613972,6.639705,9.319944,8.761912,-2.132492
1,-0.441956,0.433673,-0.634521,-0.998203,-0.383444,6.423132,10.084771,8.900770,8.388294,-2.132492
2,-0.194477,0.768939,-0.325595,-0.544008,-0.383444,5.541252,4.790877,7.780557,5.562737,-2.132492
3,-0.372485,0.360078,-0.530922,-0.932739,-0.383444,2.564092,4.823063,4.406636,3.725816,-2.132492
4,0.128866,0.977004,0.216383,0.016753,-0.383444,4.615846,1.579523,4.600008,3.521532,-2.132492
...,...,...,...,...,...,...,...,...,...,...
6087,1.314639,2.025637,1.421595,0.395018,2.607516,-0.392714,-0.328104,-0.410246,-0.383538,0.468858
6088,0.045143,-2.810307,0.388858,0.341456,-0.383444,-0.396923,-0.322630,-0.412661,-0.383708,0.468858
6089,0.272011,0.646281,0.769295,0.873999,-0.383444,-0.395446,-0.326504,-0.410073,-0.384416,0.468858
6090,-0.217086,-0.841972,-0.021870,0.332656,-0.383444,-0.397304,-0.323718,-0.415593,-0.384515,0.468858
6091,-0.351745,-0.881137,-0.433602,-0.201573,-0.383444,-0.396295,-0.326438,-0.417146,-0.385166,0.468858

In [ ]:
#describing data
df_z_scaled.columns

Index(['Price', 'Transmission', 'Power', 'Engine CC', 'Fuel_2.0', 'Male',
       'Female', 'Unknown', 'Total', 'Sale_2'],
      dtype='object')

In [ ]:
#checking how many rows present in the data
df_z_scaled.index

RangeIndex(start=0, stop=6092, step=1)

In [ ]:
len(df_z_scaled)

6092

In [ ]:
#shows no of rows and columns present in data
df_z_scaled.shape

(6092, 10)

In [ ]:
#getting information about the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6092 entries, 0 to 6091
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Price         6092 non-null   float64
 1   Transmission  6092 non-null   float64
 2   Power         6092 non-null   float64
 3   Engine CC     6092 non-null   float64
 4   Fuel_2.0      6092 non-null   int64
 5   Male          6092 non-null   int64
 6   Female        6092 non-null   int64
 7   Unknown       6092 non-null   int64
 8   Total         6092 non-null   int64
 9   Sale_2        6092 non-null   int64
dtypes: float64(4), int64(6)
memory usage: 476.1 KB

In [ ]:
#Getting the description about the data
df.describe()

,Price,Transmission,Power,Engine CC,Fuel_2.0,Male,Female,Unknown,Total,Sale_2
count,6092.000000,6092.000000,6092.000000,6092.000000,6092.000000,6.092000e+03,6092.000000,6092.000000,6.092000e+03,6092.000000
mean,41.230074,5.131491,111.478881,1982.083952,0.128201,3.292463e+04,20048.715693,2458.240151,5.543158e+04,0.819764
std,51.357916,1.343858,67.621849,817.410323,0.334341,8.126167e+04,60647.613543,5797.111820,1.412886e+05,0.384416
min,3.332200,0.000000,15.600000,0.000000,0.000000,2.910000e+02,30.000000,13.000000,1.001000e+03,0.000000
25%,18.513000,4.600000,70.250000,1497.127119,0.000000,2.773250e+03,878.500000,166.750000,3.940250e+03,1.000000
50%,29.043000,5.000000,94.062500,1832.888889,0.000000,8.079000e+03,3366.000000,548.000000,1.273150e+04,1.000000
75%,43.863631,5.966102,121.857143,2247.333333,0.000000,2.532200e+04,12070.000000,1937.000000,4.059525e+04,1.000000
max,646.605000,8.277311,450.000000,6208.000000,1.000000,1.007113e+06,789633.000000,56487.000000,1.561512e+06,1.000000

In [ ]:
df_z_scaled.describe()

,Price,Transmission,Power,Engine CC,Fuel_2.0,Male,Female,Unknown,Total,Sale_2
count,6.092000e+03,6.092000e+03,6.092000e+03,6.092000e+03,6.092000e+03,6.092000e+03,6.092000e+03,6.092000e+03,6.092000e+03,6.092000e+03
mean,9.330830e-17,-1.866166e-16,2.146091e-16,-1.912820e-16,3.732332e-17,1.341307e-17,-2.332708e-17,-2.799249e-17,-1.516260e-17,8.397747e-17
std,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
min,-7.379169e-01,-3.818478e+00,-1.417868e+00,-2.424834e+00,-3.834438e-01,-4.015870e-01,-3.300825e-01,-4.218032e-01,-3.852439e-01,-2.132492e+00
25%,-4.423286e-01,-3.954962e-01,-6.096976e-01,-5.932844e-01,-3.834438e-01,-3.710406e-01,-3.160918e-01,-3.952813e-01,-3.644408e-01,4.688579e-01
50%,-2.372969e-01,-9.784565e-02,-2.575555e-01,-1.825216e-01,-3.834438e-01,-3.057484e-01,-2.750762e-01,-3.295158e-01,-3.022188e-01,4.688579e-01
75%,5.127851e-02,6.210562e-01,1.534750e-01,3.244997e-01,-3.834438e-01,-9.355734e-02,-1.315586e-01,-8.991377e-02,-1.050073e-01,4.688579e-01
max,1.178737e+01,2.340888e+00,5.006091e+00,5.169883e+00,2.607516e+00,1.198829e+01,1.268944e+01,9.319944e+00,1.065960e+01,4.688579e-01

In [ ]:
#checking shape before the drop of duplicates
df_z_scaled.shape

(6092, 10)

In [ ]:
df_z_scaled=df_z_scaled.drop_duplicates()